## + / .add

- `+` : se base sur l'index → `.set_index()` nécessaire
- `.add` : pareil, avec `fill_value` *(sans fill_value: on peut `reindex` avec l'union des index, puis `fillna`)*

In [8]:
dfa = pd.read_csv('./kpi_magasin_a2.csv')  # a2.csv
dfb = pd.read_csv('./kpi_magasin_b.csv')

In [9]:
dfa

         date      ca  visites
0  2019-03-31     NaN      NaN
1  2019-04-01   500.0     55.0
2  2019-04-02   600.0     61.0
3  2019-04-03  1200.0    101.0
4  2019-04-04   800.0     65.0
5  2019-04-05   900.0     94.0
6  2019-04-06  1900.0    244.0

In [4]:
dfa + dfb

                   date      ca  visites
0  2019-03-312019-04-01     NaN      NaN
1  2019-04-012019-04-02   900.0     77.0
2  2019-04-022019-04-03  1500.0     86.0
3  2019-04-032019-04-04  2000.0    136.0
4  2019-04-042019-04-05  1600.0    119.0
5                   NaN     NaN      NaN
6                   NaN     NaN      NaN

`+` additionne en se basant sur l'index, or l'index `0` concerne 2 dates différentes dans ces 2 dataframe. On peut résoudre ce problème avec un set_index:

In [3]:
dfa.set_index('date') + dfb.set_index('date')

                ca  visites
date
2019-03-31     NaN      NaN
2019-04-01  1100.0     88.0
2019-04-02  1000.0     83.0
2019-04-03  2100.0    126.0
2019-04-04  1600.0    100.0
2019-04-05  1700.0    148.0
2019-04-06     NaN      NaN

On a des NaN pour le 06 avril car NaN + number = NaN.

On peut utiliser le paramètre `.fill_value`de `df.add`

In [5]:
dfa.set_index('date').add(dfb.set_index('date'), fill_value=0)

                ca  visites
date
2019-03-31     NaN      NaN
2019-04-01  1100.0     88.0
2019-04-02  1000.0     83.0
2019-04-03  2100.0    126.0
2019-04-04  1600.0    100.0
2019-04-05  1700.0    148.0
2019-04-06  1900.0    244.0

## Concat

- `axis=0 / 1` → vertical / horizontal

In [6]:
dfa = pd.read_csv('./kpi_magasin_a2.csv')
dfb = pd.read_csv('./kpi_magasin_b.csv')

In [13]:
tot = pd.concat([dfa.set_index('date'), dfb.set_index('date')], axis=1, sort=False)

In [14]:
tot

                ca  visites     ca  visites
2019-03-31     NaN      NaN    NaN      NaN
2019-04-01   500.0     55.0  600.0     33.0
2019-04-02   600.0     61.0  400.0     22.0
2019-04-03  1200.0    101.0  900.0     25.0
2019-04-04   800.0     65.0  800.0     35.0
2019-04-05   900.0     94.0  800.0     54.0
2019-04-06  1900.0    244.0    NaN      NaN

In [15]:
tot.columns = ['ca_a', 'visites_a', 'ca_b', 'visites_b']

In [16]:
tot['ca_b'] - tot['ca_a']

2019-03-31      NaN
2019-04-01    100.0
2019-04-02   -200.0
2019-04-03   -300.0
2019-04-04      0.0
2019-04-05   -100.0
2019-04-06      NaN
dtype: float64